input {
    margin-bottom: 25px;
}

.submit-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.submit-btn:hover {
    background-color: var(--primary-dark);
    transition: background-color 0.2s ease-in-out;
}

.guest-submit {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100%;
}

.guest-submit:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: background-color 0.2s ease-in-out;
}